<div class="row">
    <div class="col-md-3">
        <ul>
            @foreach (var student in Model.Students)
            {
                <li>
                    <a asp-action="Index" asp-route-studentId="@student.StudentId">@student.StudentName</a>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        <div class="course-message">
            @if (!string.IsNullOrEmpty(Model.SelectedStudentName))
            {
                <h2>@Model.SelectedStudentName</h2>
            }
            else
            {
                <h2>Välkommen, välj en elev till vänster.</h2>
            }
        </div>

        @if (!string.IsNullOrEmpty(Model.SelectedStudentName))
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Teacher name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.Students)
                    {
                        <tr>
                            <td>@student.TeacherName</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
